@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Monoton&family=Montserrat:wght@100;300;500;800&display=swap');

/* General styles */

:root {
    --navy: #222;
    --orange: #ffa500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--navy);
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', cursive;
    color: var(--navy);
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--navy);
}

ul {
    list-style-type: none;
}
