@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Monoton&family=Montserrat:wght@100;300;500;800&display=swap');

/* General styles */


:root {
    --navy: #222;
    --orange: #ffa500;

    --text-shadow-dark: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    --text-shadow-light: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--navy);
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', cursive;
    color: var(--navy);
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--navy);
}

ul {
    list-style-type: none;
}

button {
    border: 0;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--orange);
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--orange);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

button:active {
    background-color: white;
    color: var(--orange);
}

/* Navigation */

nav {
    min-height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
}

nav > * {
    padding: 20px;
}

.logo {
    padding-left: 3rem;
}

.logo a {
    font-family: 'Monoton', cursive;
    font-style: italic;
    color: white;
    font-weight: 500;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: var(--orange);
    transition: 0.8s ease;
}

#active {
    color: var(--orange);
    font-weight: 500;
}

/* Header */

/* header {
    background-image: url('../images/header_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 80vh;
    padding: 20px;
} */

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}
.video-wrapper {
    border: 2px solid #000;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.header h2,
.header h3 {
    color: white;
    text-align: center;
    text-shadow: var(--text-shadow-dark);
}

.header h2 {
    font-size: 12rem;
    margin-bottom: 0;
}

.header h3 {
    font-size: 2.4rem;
}


/* Blurb */

.blurb {
    width: 60%;
    margin: 7rem auto;
    text-align: center;
    line-height: 3rem;
}

.blurb p {
    margin-bottom: 2.4rem;
}

/* About */

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.about h3 {
    color: white;
    font-size: 3.6rem;
    text-shadow: var(--text-shadow-dark);
}

.about a,
#error a {
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--orange);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--orange);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

.about a:hover,
#error a:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.about a:hover > i {
    transform: translateX(1rem);
}

.about a:active,
#error a:active {
    background-color: white;
    color: var(--orange);
}

.about p {
    color: white;
    text-shadow: var(--text-shadow-light);
    margin: 2rem 0 5rem 0;
}

.panel {
    display: grid;
    align-content: flex-end;
    padding: 0 10rem 5rem 5rem;
    height: 60rem;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.panel-content {
    margin-bottom: 5rem;
}

#panel1 {
    background: #ccc url('../images/chef_panel.jpg') no-repeat center center;
    background-size: cover;
}

#panel2 {
    background: #ccc url('../images/menu_panel.jpg') no-repeat center center;
    background-size: cover;
}

#chef-panel {
    background: #ccc url('../images/chef.jpg') no-repeat center center;
    background-size: cover;
}

#waiter-panel {
    background: #ccc url('../images/waiter.jpg') no-repeat center center;
    background-size: cover;
}

#info-panel {
    background-color: var(--navy);
}

/* Reviews */

#reviews {
    background-color: #222;
}

.review {
    width: 70%;
    margin: 5rem auto;
    background-color: var(--navy);
    padding: 5rem;
    display: grid;
    grid-template-columns: 90% 15%;
    justify-content: center;
    position: relative;
}

.review div {
    padding-left: 5rem;
}

.review i {
    font-size: 15rem;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 10rem;
}

.review p {
    color: white;
    padding-top: 3rem;
    text-shadow: var(--text-shadow-light);
}

.review span {
    display: block;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    padding: 3rem;
}

.review img {
    border: 0.3rem solid white;
    border-radius: 100%;
    max-width: 15rem;
    max-height: 15rem;
    float: left;
    shape-outside: circle(50%);
    margin: 0 3rem 1rem 0;
}

/* Sign up */

/* Udemy Advanced CSS by Jonas Schmedtmann */
#sign-up,
#contact-us {
    width: 80%;
    min-height: 50rem;
    margin: 5rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    border-radius: 0.5rem;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 30%);

    display: grid;
    align-items: center;
}

#sign-up {
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            transparent 50%
        ),
        url(../images/form_bg.jpg);
}


#contact-us {
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            transparent 50%
        ),
        url(../images/contact-us.jpg);
}

form {
    width: 50%;
    margin: 5rem;
}

form p {
    width: 80%;
}

form > * {
    margin-bottom: 2.5rem;
}

input,
textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    margin-bottom: 2.4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all 0.3s;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid var(--orange);
}


/* Footer */

footer {
    min-height: 15vh;
    background-color: black;
    color: white;
    font-weight: bold;
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
    align-items: center;
    justify-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style: none;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 3.6rem;
    color: white;
}

footer a:hover {
    transition: 0.4s ease;
}

#facebook:hover {
    color: #4267b2;
}

#twitter:hover {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

#instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#youtube:hover {
    color: red;
}

.footer-links a {
    font-size: 1.4rem;
}

/* Menu page */

/* Desktop menu */

#desktop-menu {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.col1 > div,
.col2 > div {
    margin-top: 5rem;
}

#desktop-menu h2 {
    border-bottom: 0.2rem solid var(--navy);
}

#desktop-menu h4 {
    margin-bottom: 0;
}

/* Mobile menu */

/* https://codepen.io/owlsky/pen/nXZaLJ */

#mobile-menu {
    display: none;
    padding: 0 2rem 5rem 2rem;
}

#mobile-menu ul {
    padding-left: 0;
}
input[type='radio'] {
    display: none;
}

.a-container {
    max-width: 600px;
    margin: 0 auto;
}

.a-container label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: #222;
    border-bottom: 1px solid #ddd;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.a-container label:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid white;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    right: 10px;
    top: 16px;
}

.a-container input:checked + label,
.a-container label:hover {
    color: orange;
}

.a-container input:checked + label:after {
    border-top: 8px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid orange;
    border-left: 6px solid transparent;
    top: 6px;
}

.a-content {
    padding: 0 20px 20px;
    display: none;
}

.a-container input:checked ~ .a-content {
    display: block;
}

.menu-item-title {
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: space-between;
}
.menu-item-title h4 {
    margin-bottom: 0;
    margin-top: 2rem;
}

.spicy {
    color: red
}

.vegetarian {
    color:green;
}

.special-wrapper {
    width: 80%;
    margin: 5rem auto;
    padding: 1rem;
    box-shadow: var(--text-shadow-light);
    background-color: beige;
}

.special {
    width: 100%;
    background-image: url('../images/meatballs_temp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 20px;
    color:white;
    text-shadow: 0 0 5px black;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.8);
}

.special h2, .special h4 {
    color:white;
}

.special h4 {
    font-size: 2.4rem;
}


.special h2 {
    font-size: 6rem;
}

/* Gallery Page */

#gallery {
    text-align: center;
}

.gallery-container {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.gallery-container div {
    padding: 0.5rem;
    /* background-color: var(--navy); */
    box-shadow: var(--text-shadow-light);
}

.gallery-container img {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Contact Page */

#locate-us {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.opening-hours {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.opening-hours p {
    margin-bottom: 1.5rem;
}

.opening-hours p:last-child {
    margin-bottom: 5rem;
}

.map iframe {
    width: 100%;
    height: 50rem;
    border: 0;
}

/* 404 */

#error {
    height: 70vh;
    text-align: center;
    padding: 5rem;
}

#error h2 {
    background-image: url('../images/error2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 5rem;
}

#error h2 span {
    font-size: 50vh;
    line-height: 85%;
}

/* Animations */

/* Media Queries */

@media screen and (max-width: 1000px) {
    html {
        font-size: 56.25%;
    }

    #review {
        width: 80%;
        grid-template-columns: 100% 15%;
    }

    #review i {
        right: 3.5rem;
    }

    #sign-up {
        background-image: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.8) 80%,
                transparent 50%
            ),
            url(../images/form_bg.jpg);
    }

    #contact-us {
        background-image: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.8) 80%,
                transparent 50%
            ),
            url(../images/contact-us.jpg);
    }

    form {
        width: 80%;
    }
    #chef-panel,
    #waiter-panel {
        order: -1;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 50%;
    }

    .nav-links ul {
        justify-content: space-evenly;
    }

    .logo {
        text-align: center;
        padding-left: 0;
    }

    .blurb {
        width: 80%;
    }

    .review {
        width: 100%;
        margin: 3rem auto;
    }

    #review i {
        right: 1.5rem;
    }

    #sign-up {
        background-image: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.8) 100%,
                transparent 50%
            ),
            url(../images/form_bg.jpg);
    }

    #contact-us {
        background-image: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.8) 100%,
                transparent 50%
            ),
            url(../images/contact-us.jpg);
    }

    form {
        width: 100%;
    }

    .map {
        width: 100%;
    }

    #error {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #error h2 span {
        font-size: 25vh;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}


@media screen and (max-width: 480px) {
    #home-nav-btn {
        display: none;
    }

    #locate-us {
        margin: 5rem 0;
        width: 100%;
    }
  
    #sign-up, #contact-us {
        width: 100%;
    }

    form {
        margin: 0;
        padding: 5rem;
    }

    form p, form input, form textarea {
        width: 100%;
    }
}
