@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Monoton&family=Montserrat:wght@100;300;500;800&display=swap');

/* General styles */


:root {
    --navy: #222;
    --orange: #ffa500;

    --text-shadow-dark: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    --text-shadow-light: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--navy);
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', cursive;
    color: var(--navy);
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--navy);
}

ul {
    list-style-type: none;
}

button {
    border: 0;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--orange);
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--orange);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

button:active {
    background-color: white;
    color: var(--orange);
}

/* Navigation */

nav {
    min-height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
}

nav > * {
    padding: 20px;
}

.logo a {
    font-family: 'Monoton', cursive;
    font-style: italic;
    color: white;
    font-weight: 500;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: var(--orange);
    transition: 0.8s ease;
}

#active {
    color: var(--orange);
    font-weight: 500;
}

/* Header */

header {
    background-image: url('../images/header_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 80vh;
    padding: 20px;
}

header h2,
header h3 {
    color: white;
    text-align: center;
    text-shadow: var(--text-shadow-dark);
}

header h2 {
    font-size: 12rem;
    margin-bottom: 0;
}

header h3 {
    font-size: 2.4rem;
}

/* Blurb */

.blurb {
    width: 60%;
    margin: 7rem auto;
    text-align: center;
    line-height: 3rem;
}

.blurb p {
    margin-bottom: 2.4rem;
}

/* About */

#about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#about h3 {
    color: white;
    font-size: 3.6rem;
    text-shadow: var(--text-shadow-dark);
}

#about a,
#error a {
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--orange);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--orange);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

#about a:hover,
#error a:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#about a:hover > i {
    transform: translateX(1rem);
}

#about a:active,
#error a:active {
    background-color: white;
    color: var(--orange);
}

#about p {
    color: white;
    text-shadow: var(--text-shadow-light);
    margin: 2rem 0 5rem 0;
}

#panel1,
#panel2 {
    display: grid;
    align-content: flex-end;
    padding: 0 10rem 5rem 5rem;
    height: 60rem;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.panel-content {
    margin-bottom: 5rem;
}

#panel1 {
    background: #ccc url('../images/chef_panel.jpg') no-repeat center center;
    background-size: cover;
}

#panel2 {
    background: #ccc url('../images/menu_panel.jpg') no-repeat center center;
    background-size: cover;
}

/* Reviews */

#review {
    width: 70%;
    margin: 5rem auto;
    background-color: var(--navy);
    padding: 5rem;
    display: grid;
    grid-template-columns: 90% 15%;
    justify-content: center;
    position: relative;
}

#review div {
    padding-left: 5rem;
}

#review i {
    font-size: 15rem;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 10rem;
}

#review p {
    color: white;
    padding-top: 3rem;
    text-shadow: var(--text-shadow-light);
}

#review span {
    display: block;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    padding: 3rem;
}

#review img {
    border: 0.3rem solid white;
    border-radius: 100%;
    max-width: 15rem;
    max-height: 15rem;
    float: left;
    shape-outside: circle(50%);
    margin: 0 3rem 1rem 0;
}

/* Sign up */

/* Udemy Advanced CSS by Jonas Schmedtmann */
#sign-up {
    width: 80%;
    min-height: 50rem;
    margin: 5rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    border-radius: 0.5rem;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 30%);

    display: grid;
    align-items: center;
}

#sign-up {
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            transparent 50%
        ),
        url(../images/form_bg.jpg);
}

form {
    width: 50%;
    margin: 5rem;
}

form p {
    width: 80%;
}

form > * {
    margin-bottom: 2.5rem;
}

input,
textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    margin-bottom: 2.4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all 0.3s;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid var(--orange);
}


/* Footer */

footer {
    min-height: 15vh;
    background-color: black;
    color: white;
    font-weight: bold;
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
    align-items: center;
    justify-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style: none;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 3.6rem;
    color: white;
}

footer a:hover {
    transition: 0.4s ease;
}

#facebook:hover {
    color: #4267b2;
}

#twitter:hover {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

#instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#youtube:hover {
    color: red;
}

.footer-links a {
    font-size: 1.4rem;
}

/* Gallery Page */

#gallery {
    text-align: center;
}

.gallery-container {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.gallery-container div {
    padding: 0.5rem;
    /* background-color: var(--navy); */
    box-shadow: var(--text-shadow-light);
}

.gallery-container img {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Contact Page */

#locate-us {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.opening-hours {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.opening-hours p {
    margin-bottom: 1.5rem;
}

.opening-hours p:last-child {
    margin-bottom: 5rem;
}

.map iframe {
    width: 100%;
    height: 50rem;
    border: 0;
}